<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div id="comment-wrapper" class="hidden">
      <input id="contact-key" type="hidden" value="{{ key }}">
      <textarea id="comment-input"></textarea>
      <div id="comment-btn" class="btn">Submit Comment</div> | <div id="comment-cancel" class="btn">Cancel</div>
  </div>
  <div id="console" class="hidden glow"></div>
  <div id="container">
  </div>
  <h3>{{ contact.title_name }} <div id="open-comment" class="btn header-btn">Add Comment</div></h3>
  <div class="sketch">
      <img class="headshot" src="/static/contacts/{{ contact.title_name }}.png">
      <dl>
          <dt class="glow">Name</dt>
          <dd>{{ contact.name }}</dd>
          <dt class="glow">Species</dt>
          <dd>{{ contact.species }}</dd>
          <dt class="glow">Alterations</dt>
          <dd>{{ contact.alterations }}</dd>
      </dl>
      <div class="background">
          {{ contact.background|safe }}
      </div>
  </div>
  {% for item in contact.comments %}
  <p class="comment">[>> [{{ item.sequence }}]
{{ item.msg }}
  ::-{{ item.commenter }} <<]</p>
  {% endfor %}
  <div id="terminal">
      <div class="overlay"></div>
  </div>

  <script src="/static/console.js"></script>
  <script>
      var current_commenter = 'anon'
      var current_console_items = []
      var contact_key = document.getElementById('contact-key').value
      var comment_input = document.getElementById('comment-input')
      var comment_wrap = document.getElementById('comment-wrapper')
      document.getElementById('open-comment').addEventListener('click', function() {
        comment_wrap.classList.remove('hidden')
      })

      document.getElementById('comment-btn').addEventListener('click', function() {
        var txt = document.getElementById('comment-input').value
        post_comment(contact_key, current_commenter, txt)
      })

      document.getElementById('comment-cancel').addEventListener('click', function() {
        comment_wrap.classList.add('hidden')
        comment_input.value = ''
      })

      function post_comment(contact_name, login_name, text) {
        var data = {
          name: contact_name,
          commenter: login_name,
          msg: text
        }
        var xhr = new XMLHttpRequest()
        xhr.open('POST', '/comment')
        xhr.setRequestHeader('content-type', 'application/json')
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            location.reload()
          }
        }
        xhr.send( JSON.stringify(data) )
      }
  </script>
</body>
</html>
