<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div id="comment-wrapper" class="hidden">
      <input id="contact-key" type="hidden" value="{{ key }}">
      <textarea id="comment-input"></textarea>
      <div id="comment-btn" class="btn">Submit Comment</div> | <div id="comment-cancel" class="btn">Cancel</div>
  </div>
  <div id="login-welcome" class="glow hidden"></div>
  <div id="console" class="hidden glow"></div>
  <div id="container">
  </div>
  <div id="login-section" class="hidden">
      <label for="username">Name</label>
      <input id="username" type="text">
      <label for="pword">Password</label>
      <input id="pword" type="password">
  </div>
  <h3>{{ contact.title_name }} <div id="open-comment" class="btn header-btn">Add Comment</div></h3>
  <div class="sketch">
      <img class="headshot" src="/static/contacts/{{ contact.title_name }}.png">
      <dl>
          <dt class="glow">Name</dt>
          <dd>{{ contact.name }}</dd>
          <dt class="glow">Species</dt>
          <dd>{{ contact.species }}</dd>
          <dt class="glow">Alterations</dt>
          <dd>{{ contact.alterations }}</dd>
      </dl>
      <div class="background">
          {{ contact.background|safe }}
      </div>
  </div>
  {% for item in contact.comments %}
  <p class="comment">[>> [{{ item.sequence }}]
{{ item.msg }}
  ::-{{ item.commenter }} <<]</p>
  {% endfor %}
  <div id="terminal">
      <div class="overlay"></div>
  </div>

  <script src="/static/console.js"></script>
  <script>
     /* login code */
     var login_name_elem = document.getElementById('login-welcome')
     var login_form = document.getElementById('login-section')

     login_name_elem.addEventListener('click', function() {
       login_name_elem.classList.add('hidden')
       login_form.classList.remove('hidden')
     })

     document.getElementById('pword').addEventListener('keyup', function(ev) {
       if (ev.which == 13) {
         var n = document.getElementById('username').value
         var p = document.getElementById('pword').value
         post_login(n, p)
       }
     })

     function post_verify() {
        var xhr = new XMLHttpRequest()
        xhr.open('POST', '/verify')
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            var t = JSON.parse(xhr.responseText)
            if (t.username) {
                login_name_elem.innerHTML = 'Welcome, ' + t.username
                login_name_elem.classList.remove('hidden')
            } else {
                login_form.classList.remove('hidden')
             }
          }
        }
        xhr.send(null)
     }

      function post_login(name, pword) {
        var data = {
          username: name,
          password: pword
        }
        var xhr = new XMLHttpRequest()
        xhr.open('POST', '/login')
        xhr.setRequestHeader('content-type', 'application/json')
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
             var t = JSON.parse(xhr.responseText)
             if (t.result == 'success') {
               login_form.classList.add('hidden')
               login_name_elem.innerHTML = 'Welcome, ' + name
               login_name_elem.classList.remove('hidden')
             } else {
               login_form.classList.remove('hidden')
               login_name_elem.classList.add('hidden')
             }
          }
        }
        xhr.send( JSON.stringify(data) )
      }

      post_verify()

      /* comment code */
      var contact_key = document.getElementById('contact-key').value
      var comment_input = document.getElementById('comment-input')
      var comment_wrap = document.getElementById('comment-wrapper')
      document.getElementById('open-comment').addEventListener('click', function() {
        comment_wrap.classList.remove('hidden')
      })

      document.getElementById('comment-btn').addEventListener('click', function() {
        var txt = document.getElementById('comment-input').value
        post_comment(contact_key, txt)
      })

      document.getElementById('comment-cancel').addEventListener('click', function() {
        comment_wrap.classList.add('hidden')
        comment_input.value = ''
      })

      function post_comment(contact_name, text) {
        var data = {
          name: contact_name,
          msg: text
        }
        var xhr = new XMLHttpRequest()
        xhr.open('POST', '/comment')
        xhr.setRequestHeader('content-type', 'application/json')
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            console.log(xhr.responseText)
          }
        }
        xhr.send( JSON.stringify(data) )
      }
  </script>
</body>
</html>
