{% include 'header.html' %}
      <h3>News Feed</h3>
<p>Check out the <a link="static/intro.html">intro video!</a></p>
      <input id="contact_search" placeholder="Search Contacts/Runners"></input>
      <ul id="contact-listing"></ul>
      <h3>Campaign Description</h3>
      <h4>Building Characters</h4>
      <p> Core book, Run and Gun, Run Faster and Street Grimoire.</p>
      <p>
          The player characters are "street scum" level (page 354), cannot buy contacts during character creation,
          start with a single contact (3 loyalty, 5 connection), <a href="/contact/hartford">Hartford</a>,
          who is a fixer with ties to organized crime.
          No Mystic Adept, No Aspected Magician. Magicians must use C,C,D,D,E for priorities. All others
          (including Technomancers and Adepts)
          can use either C,C,D,D,E or B,C,D,E,E for priorities. Remember to use the "Street-Level Play" section for
          resources, karma, gear restrictions and nuyen restrictions on page 64.
      </p>
      <p>
          No PC is from Seattle or environs. Backstory needs a reasonable explanation for why they were removed from
          regular society (maybe they were born SINless, but if not we need a Why)
          and ended up being relocated by Hartford. Hartford needed a new shadowrun crew and picked these
          particular individuals because they were desperate and, while not very experienced, have much potential.
      </p>
      <p>
          Each person was separately set up with whatever identity they purchase by Hartford, as well as any living
          arrangements. Put together a short description of your alternate identity (or identities).
          Whether any or all of these player characters know one another is up to you.
      </p>
      <p>
          Once "on the ground" the campaign opens with a first run: <a href="/mission/ammo-intercept">intercept</a>
          a shipment of ammunition headed for one of the local gangs.
       </p>  {% for item in comments %}
      <p class="comment">[>> [{{ item.sequence }}]
{{ item.msg }}
  ::-{{ item.commenter }} <<]</p>
  {% endfor %}
  </div>
<script>
    document.getElementById('contact_search').addEventListener('keyup', function(ev) {
        var txt = this.value
        if (txt.length > 0) {

            var xhr = new XMLHttpRequest()
            xhr.open('GET', '/list/' + txt)

            xhr.onreadystatechange = function() {
              if (xhr.readyState === XMLHttpRequest.DONE) {
                var list = JSON.parse(xhr.responseText)
                var h = ''
                list.forEach(function(v,i,a) {
                    h += '<li><a href="/contact/' + v.link + '">' + v.title_name + '</a></li>'
                })
                document.getElementById("contact-listing").innerHTML = h
              }
            }
            xhr.send()
        }
    })
</script>
{% include 'footer.html' %}
