{% include 'header.html' %}
      <h3>{{ mission.title }} <div id="open-comment" class="btn header-btn">Add Comment</div></h3>
      <div class="sketch">
          <img class="headshot" src="/static/missions/{{ mission.image }}.png">
          <dl>
              <dt class="glow">Johnson</dt>
              <dd><a href="/contact/{{mission.johnson}}">{{ mission.johnson_name }}</a></dd>
              <dt class="glow">Contract Offer</dt>
              <dd>{{ mission.offer }}</dd>
          </dl>
          <div class="background">
              {{ mission.background|safe }}
          </div>
      </div>
{% for item in mission.comments %}
    <p class="comment">[>> [{{ item.sequence }}]
{{ item.msg }}
  ::-{{ item.commenter }} <<]</p>
  {% endfor %}
  </div>
{% include 'footer.html' %}